/* navigatioon section*/
#navbar{
    flex-direction: column;
    padding-bottom: 20px;
}

#navbar img{
    width: 46px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0 3px;
}
#navbar ul li a:hover{
        font-size: 15px;
}

/* home section*/

#home{
        height: 250px;
        padding: 38px 58px;
}
#home::before{
    height: 500px;
}
#home p{
        font-size: 10px;
}

/* services section*/
#services{
    flex-direction: column;
}
/* clients section*/
#clients{
    flex-wrap: wrap;
}
#client-section {
    height: 198px;
}
#client-section::before {
    content: "";
    position: absolute;
    background: url(/image/Background-2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: .5;
}
#clients img{
    height: 60px;
    /* overflow: wrap; */
}
.clients-item{
        padding: 10px;
    
            position: relative;
            left: -15px;
}

/* contacts section*/

#contact{
        margin-top: 86px;
}

#contact-box form{
    width: 80%;
}

/* footer section*/

/* utility class */
.h-primary{
    font-size: 30px;
}
.h-secondary {
    font-size: 1.2em;
    padding: 12px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.btn{
        padding: 4px 8px;
            font-size: 0.7rem;
}